name: Sync Fork

on:
#  schedule:
#    - cron: '0 0 * * 0'  # Weekly
   workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout fork
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Init submodules
        continue-on-error: true
        run: |
          git submodule update --init --recursive

      - name: Add upstream and fetch
        run: |
          git remote add upstream https://github.com/sunnypilot/sunnypilot.git
          git fetch upstream
          git checkout master
          git add opendbc_repo
          git merge upstream/master
          git submodule sync
          

      - name: Push changes
        run: git push origin master
